<div class="popup ComposeWordCounterPlugin_active_bill" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<span class="popup_heading" data-bind="text: sLabel">Добавить новый аккаунт</span>
		<div class="fields">
			<div class="fieldset">
				<div class="row">
					<table data-bind="visible : aOperations().length > 0">
						<thead>
							<tr>
								<td>Create</td>
								<td>Value</td>
								<td>Sender</td>
								<td>Subject</td>
							</tr>
						</thead>
						<tbody>
							<!-- ko foreach: aOperations -->
							<tr data-bind="css: {'incomming': IsIncoming, 'outgoing': !IsIncoming}">
								<td data-bind="text: CreateDate"></td>
								<td data-bind="text: (CurrencyId == 1 ? '$' : '€') + Value.toFixed(2)"></td>
								<td data-bind="text: Sender"></td>
								<td data-bind="text: MessageSubject"></td>
							</tr>
							<!-- /ko -->
						</tbody>
					</table>
				</div>
				<div class="row" style="text-align: right;">
					<span class="label" style="font-weight: bold;font-size: 12pt;">Summary:</span>
					<span class="value" data-bind="text: totalCost" style="font-size: 16pt;"></span>
				</div>
				<div class="row" data-bind="visible : aOperations().length === 0">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/ERROR_NO_ACTIVE_BILL'}"></span>
				</div>
			</div>
			<div class="buttons">
				<span class="button secondary_button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CLOSE'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>

